language: node_js
node_js:
    - "9"
dist: trusty
sudo: required
branches:
    only:
        - master
        - develop
before_script:
    - npm install -g @angular/cli
script:
    - npm i
    - ng lint
    - ng build --prod
