<div>
    <div class="modal-header">
        <h4 class="modal-title">Nieuwe Game Toevoegen</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll">
        <div class="row">
            <div class="col">
                <p>In dit scherm kunt u een nieuwe game toevoegen. Voer de vereiste informatie in en druk op "Spel
                    Toevoegen" om de game aan te maken. Het kan mogelijk even duren voordat het spel in de game-engine
                    is ingeladen.</p>
                <ngb-alert [type]="'info'" [dismissible]="false">Info: Zorg ervoor dat de beschrijving uniek is om
                    verwarring te voorkomen</ngb-alert>
                <p *ngFor="let alert of alerts" class="mt-4">
                    <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="game card mb-3">
                    <div class="card-header">
                        <span>Game Details</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="gameDescription">Game Beschrijving</label>
                                    <input class="form-control" ngbAutofocus ngDefaultControl id="gameDescription"
                                        type="text" placeholder="Game for Legal Team" [(ngModel)]="game.description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 ml-5" *ngFor="let question of game.questions; index as iq">
                    <div class="card-header">
                        <span>Vraag {{iq + 1}}</span>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="questionText">Vraag</label>
                            <textarea class="form-control" ngbAutofocus ngDefaultControl id="questionText" type="text"
                                placeholder="What is the answer to life the universe and everthing?"
                                [(ngModel)]="question.question"></textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="category">Vraag Categorie</label>
                                    <select class="form-control" id="category" [(ngModel)]="question.category">
                                        <option *ngFor="let category of categoryResponse$ | async"
                                            [innerText]="category.name" [value]="category._id">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="questionLevel">Level</label>
                                    <input class="form-control" ngbAutofocus ngDefaultControl id="questionLevel"
                                        type="text" readonly [(ngModel)]="question.level">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <p>Antwoorden</p>
                                </div>
                            </div>
                            <div class="row mb-2" *ngFor="let answer of question.answers; index as ia">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label for="answerText">Antwoord {{ia + 1}}</label>
                                        <input class="form-control" ngbAutofocus ngDefaultControl id="answerText"
                                            type="text" placeholder="42, obviously" [(ngModel)]="answer.answer">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="answerScore">Score</label>
                                        <input class="form-control" ngbAutofocus ngDefaultControl id="answerScore"
                                            type="number" min="0" max="100" placeholder="0 / 100"
                                            [(ngModel)]="answer.deltaScore">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <div>
        <button type="button" class="btn btn-success" (click)="addQuestion()">Vraag toevoegen
            <span class="badge badge-pill badge-light">{{game.questions.length}} /
                {{amountOfQuestions}}</span></button>
    </div>
    <div>
        <button type="button" class="btn btn-primary mr-2" (click)="postGame()">Game Toevoegen</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Sluiten</button>
    </div>
</div>
