<div [class.card]="!noCard" [class.p-3]="!noCard" [style.height.px]="height">
    <div class="chart-wrapper" [style.height.px]="legendOnBottom? height - 90 : height - 20">
        <ngx-charts-polar-chart [results]="data" [legend]="showLegend"
            [legendPosition]="legendOnBottom ? 'below' : 'right'" [showGridLines]="gridLines" [xAxisLabel]="xAxis"
            [yAxisLabel]="yAxis" [yAxis]="showYAxis" [xAxis]="showXAxis" [showXAxisLabel]="showXLabel"
            [showYAxisLabel]="showYLabel" [curve]="curve" [labelTrimSize]="25" [autoScale]="true"
            [legendTitle]="'Legenda'" [animations]="animations">
        </ngx-charts-polar-chart>
    </div>
</div>
