.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .mdi {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .mdi,
.sidebar .nav-link.active .mdi {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.plus {
    font-size: 17px;
}

.nav-item {
    border: 0px solid #343a40;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    .nav-link {
        .mdi {
            font-size: 20px;
            vertical-align: middle;
        }

        &.active {
            border-radius: 10px;
            background-color: #e5f2ff;
        }
    }
}

.nav-item:hover {
    border-radius: 10px;
    background-color: #ffffff;
}
