<div [class.card]="!noCard" [class.p-3]="!noCard" [style.height.px]="height">
    <div class="chart-wrapper" [style.height.px]="legendOnBottom? height - 90 : height - 20">
        <ngx-charts-bar-vertical-2d [results]="data" [legend]="showLegend"
            [legendPosition]="legendOnBottom ? 'below' : 'right'" [showGridLines]="gridLines" [xAxisLabel]="xAxis"
            [yAxisLabel]="yAxis" [yAxis]="showYAxis" [xAxis]="showXAxis" [showXAxisLabel]="showXLabel"
            [noBarWhenZero]="false" [showYAxisLabel]="showYLabel" [xAxisTickFormatting]="formatAsDumbString"
            [legendTitle]="'Legenda'">
        </ngx-charts-bar-vertical-2d>
    </div>
</div>
