<div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Game Statistics Overview</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Reload</button>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <app-vertical-bar-chart [data]="testData" [height]="400" [showLegend]="true" [legendOnBottom]="true"
                [xAxis]="'Countries'" [yAxis]="'Population'">
            </app-vertical-bar-chart>
        </div>
        <div class="col">
            <app-vertical-bar-chart [data]="testData" [height]="400"></app-vertical-bar-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Lorem ipsum..</h2>
                    </div>
                    <div class="card-text">
                        <ul>
                            <li *ngFor="let game of games$ | async">
                                {{game.pin}}
                                <ul>
                                    <li *ngFor="let question of game.questions">{{question.question}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit, natus enim obcaecati
                            nemo,
                            repudiandae officia dolores, deleniti ad iste eveniet voluptate? Perspiciatis enim nihil
                            ducimus
                            nobis dignissimos tenetur. Quas?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nisi
                            odit,
                            natus enim obcaecati nemo, repudiandae officia dolores, deleniti ad iste eveniet voluptate?
                            Perspiciatis enim nihil ducimus
                            dignissimos tenetur. Quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                            odit,
                            natus enim obcaecati nemo, repudiandae officia dolores, deleniti ad iste eveniet voluptate?
                            Perspiciatis enim nihil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
