/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap4-card-tables/src/bootstrap4-card-tables";
@import "https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css";

body {
    font-size: 0.875rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.dumb-card {
    border: 1px solid #dfe0e1;
    border-radius: 10px;
    padding: 15px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0px;
}

.bottom-action-bar {
    background-color: #343a40;
}

.scroll {
    overflow-y: scroll;
    &.modal-body {
        max-height: 70vh;
    }
}

.plus {
    font-size: 17px;
}
